   body {
       background-color: #EAF6F6;

   }

   hr {
       border-style: dotted none none;
       height: 0px;
       border-width: 10px;
       border-color: grey;
       width: 20%;

   }

   h1{color: #18978F;

   }

   h3{ color: #18978F;}